<h5>Rentals available in {{fullLocation}}</h5>

<li>

  {{#each sortedRentals as |rental|}}
    {{rental-title rental=rental update="update"}}
    <button {{action 'destroyRental' rental}}>Delete</button>
  {{/each}}</li>
